######################
## EPiServer Files
######################
*License.config
packages/
obj/
.vs/config/applicationhost.config
.vs/BVNetwork.ContentAreaInspector/v14/.suo
bin/
*.nupkg
.vs/EPiCode.ContentInspector/v14/.suo
