<?xml version="1.0" encoding="utf-8"?>
<module name="contentareainspector" clientResourceRelativePath="">
  <assemblies>
    <add assembly="BVNetwork.ContentAreaInspector" />
  </assemblies>
  <clientResources>
    <add name="epi-cms.widgets.base" path="ClientResources/Styles/InspectorStyles.css" resourceType="Style" />
  </clientResources>
  <dojo>
    <paths>
      <add name="contentareainspector" path="ClientResources/Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="contentareainspector/Initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>