<?xml version="1.0" encoding="utf-8"?>
<module name="contentareainspector" clientResourceRelativePath="">
  <assemblies>
    <add assembly="BVNetwork.ContentAreaInspector" />
  </assemblies>
  <clientResources>
    <add name="contentareainspector-styles" path="ClientResources/Styles/InspectorStyles.css" resourceType="Style" />
  </clientResources>
  <dojoModules>
    <add name="contentareainspector" path="ClientResources/Scripts" />
  </dojoModules>
  <clientModule  initializer="contentareainspector/Initializer">
    <moduleDependencies>
      <add dependency="Shell"/> 
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="contentareainspector-styles"/>
    </requiredResources>
  </clientModule>
</module>