<?xml version="1.0" encoding="utf-8"?>
<module name="contentareainspector" clientResourceRelativePath="">
  <assemblies>
    <add assembly="BVNetwork.ContentAreaInspector" />
  </assemblies>
  <clientResources>
    <add name="contentareainspector-styles" path="ClientResources/Styles/InspectorStyles.css" resourceType="Style" />
    <add name="contentareainspector-scripts" path="ClientResources/Scripts/rasterizeHTML.allinone.js" resourceType="Script" sortIndex="1" />
  </clientResources>
  <!--<dojo>
    <paths>
    
    </paths>
  </dojo>-->
  <dojoModules>
    <!-- Add a mapping from geta to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="contentareainspector" path="ClientResources/Scripts" />
  </dojoModules>

  <clientModule  initializer="contentareainspector/Initializer">
    <moduleDependencies>
      <add dependency="Shell"/> 
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="contentareainspector-styles"/>
      <add name="contentareainspector-scripts"/>
    </requiredResources>
  </clientModule>
</module>