
.inspector_content_area li {
    margin-left: 50px;
}

li.inspectoritem {
    margin-left: 0px;
}

li.inspectoritem ul {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

li.inspectoritem>span:hover .inspector_preview_button {
    display: block;
    
}
 .inspector_preview_button.epi-icon--active {
    display: block;
}

.inspector_preview_button {
    display: none;
}

.inspector img {
    float: left;
    margin-left: 1px;
}

.inspector_block {
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}


.inspector_container {
    padding-right: 10px;
    max-height: 750px;
    overflow-y: scroll;
}

.inspector_green {
    color: green;
}

.inspector_black {
    color: black;
}

.inspector ul {
    border: solid 3px whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
   
}

.inspector_edit {
    display: inline-block;
}

.inspector_visitor_group {
    float: left;
}

.inspector_dialog .dijitDialogPaneContent {
    max-height: 750px !important;
    width: 100%;
}

.inspector_group {
    border: dashed 3px #c7d500;
    margin-bottom: 4px;
}

    .inspector_group ul:last-child {
        margin-bottom: 0px;
    }

li.inspector_area {
    margin-bottom: 5px;
}

.inspector_preview_button {
    float: right;
    position: relative;
    cursor: pointer;
}


.inspector_preview_loader {
    width: 500px;
    height: 400px;
}

