
.inspector_content_area li {
    margin-left: 50px;
}

.inspector_content_area {
    background-color: #ffffff;
}

.inspector img {
    float: left;
    margin-left: 1px;
}

.inspector_block {
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

.inspector_heading {
}


.inspector_container {
    /*overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px;
    min-width: 300px;*/
    padding-right: 10px;
    max-height: 750px;
    overflow-y: scroll;
}

.inspector_green {
    color: green;
}

.inspector_black {
    color: black;
}

.inspector ul {
    border: solid 3px whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    background-color: #ffffff;
}

    .inspector ul:hover {
        /*background-color: rgb(248, 249, 249);
    border: 2px solid #c7d500;*/
    }

/*.inspector ul:hover > .inspector li:hover {
  background-color: #ffffff; 
}*/

.inspector_edit {
    display: inline-block;
}

.inspector_visitor_group {
    float: left;
}

.inspector_dialog .dijitDialogPaneContent {
    max-height: 750px !important;
    width: 100%;
}

.inspector_group {
    border: dashed 3px #c7d500;
    margin-bottom: 4px;
}

    .inspector_group ul:last-child {
        margin-bottom: 0px;
    }


/*ul.inspector .inspector_property:first-of-type {
    margin-top: 0px;
}

.inspector_property {
    margin-top: 5px;
}*/

li.inspector_area {
    margin-bottom: 5px;
}

.inspector_preview_button {
    float: right;
    position: relative;
    cursor: pointer;
}

.inspector_preview_button_wrap {
    display: none;
}

ul.inspector ul.inspector:first-child:hover .inspector_preview_button_wrap {
    display: block;
}

.inspector_preview_loader {
    width: 500px;
    height: 400px;
}
